.header {
  background: #222;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}

.cart-btn {
  background: white;
  padding: 6px 12px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
